body{
  background-color: #ffb6c1;
  border: 1px solid #ffb6c1;
}

p{
  font-family: 'Unica One', cursive;
  color: #ffb6c1;
  margin: 3px;
}

p:hover {
  border: #FAE3E3;
}

div:hover {
  background-color: #FAE3E3;
}

h1{
  padding-top: 150px;
  color: #E85D75;
  text-align: center;
  font-family: "Caveat";
  font-size: 80px;
}
/* .Space{
  padding: 10px;
  margin: 1px;
} */

.title{
  text-align: center;
  font-family: 'Monoton', cursive;
  color: #E85D75;
  margin: 3px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin: 15px;
  font-family: 'Caveat';
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #A54657;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #73313c
}

.button:active {
  background-color: #73313c;
  padding: 15px 25px;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* .description{
  text-align: center;
  font-family: 'Unica One', cursive;
  color: #E85D75;
} */

div{
  border: 10px solid #E85D75;
  background-color: #ffb6c1;
  padding-bottom: 300px;

}
